.books-section {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  flex-direction: column;
}
.book-card {
  display: flex;
  flex: 1;
  border: 1px solid #eee;
  padding: 15px 23px 23px 23px;
  background-color: #f9f9f9;
  border-radius: 5px;
  gap: 25px;
}
.book-card-image {
  gap: 15px
}
.book-card-image img {
  max-width: 225px;  /* Adjust image width as needed */
  height: auto;
  border-radius: 5px;
  margin-top: 8px;
}
.book-card-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
}

.book-card h2 {
  margin: 0;
  font-size: 1.5em;
}

.book-card p {
  flex: 1;
}
.book-card-link-wrap {
  display: flex;
  justify-content: flex-end;
}
.book-card-link {
  color: black !important;
  text-decoration: none;
  border: 1px solid #FF8F00;
  padding: 10px;
  background-color: #FFA41C; /* #ADD8E6; */
  transition-duration: 0.1s;
  border-radius: 5px;
  width: fit-content;
}
.book-card-link:hover {
  text-decoration: none;
  background-color: #ff8f00;
  color: black;
}

